[Unit]
Description=Judged Go Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hustoj-go daemon --ojhome /home/judge --debug
Restart=on-failure
RestartSec=5s
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
